include README.md
include LICENSE
include pyproject.toml
recursive-include python *.py
recursive-include python/baba/include *.h
recursive-include python/baba/lib *.a *.lib
recursive-include src *.c *.h
recursive-include dist/include *.h
recursive-include dist/lib *.a